<h1 class="ui center aligned purple medium icon header">
  <i class="special circular icon"></i>
  Chatroom
</h1>

<h4 class="ui header">Public Chat</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui large feed">
          <% @users.each do |usr|%>
            <% if usr.messages.any? %>
              <% usr.messages.each do |msg| %>              
                <em><%= usr.username %>:</em> <%= msg.body %><br>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div> 
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon button input">
              <input type="text" placeholder="Enter message">
              <i class="bordered inverted orange edit icon"></i> 
            </div>
          </div>
          
        </form>
      </div> 
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>